<%= render "main/carousel" %>

<div class="container text-center">
  <h3>What We do on Rorschach-um</h3><br>
  <div class="row">
    <div class="col-sm-4">
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
      <p>Comprehensive analisis</p>
    </div>
    <div class="col-sm-4">
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
      <p>Constelation page</p>
    </div>
    <div class="col-sm-4">
      <div class="well">
       <p>Super easy and intuitive user experience..</p>
      </div>
      <div class="well">
       <p>Next generation devices adaptation interface..</p>
      </div>
    </div>
  </div>
</div>