<h1>Editing allowed_interpretation</h1>

<%= render 'form' %>

<%= link_to 'Show', admin_sheet_area_allowed_interpretation_path(@allowed_interpretation) %> |
<%= link_to 'Back', admin_sheet_area_allowed_interpretations_path(@sheet, @area) %>
