// Place all the styles related to the Sheets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.selected{
   background: rgb(0,255,0);
   border: 2px solid rgb(0,200,100);
   line-height: 100px;
}

.proposed{
   background: #1ca51c38;
   border: 2px solid rgb(0,200,100);
   line-height: 100px;
}

#capa18{
  Z-index: 2;
  left: 33.51%;
  top: 10.55%;
  width: 35.32%;
}

#capa16{
  Z-index: 9;
  left: 40.26%;
  top: 38.93%;
  width: 22.08%;
}

#capa17{
  Z-index: 9;
  left: 37.27%;
  top: 54.67%;
  width: 28.31%;
}

#capa13{
  Z-index: 5;
  left: 24.29%;
  top: 7.79%;
  width: 11.82%;
}

#capa14{
  Z-index: 6;
  left: 18.70%;
  top: 41.18%;
  width: 7.27%;
}

#capa15{
  Z-index: 7;
  left: 5.71%;
  top: 18.69%;
  width: 32.47%;
}

#capa5{
  Z-index: 8;
  left: 58.18%;
  top: 6.40%;
  width: 25.71%;
}

#capa6{
  Z-index: 9;
  left: 44.03%;
  top: 23.70%;
  width: 14.42%;
}

#capa7{
  Z-index: 10;
  left: 47.66%;
  top: 27.16%;
  width: 7.14%;
}

#capa8{
  Z-index: 11;
  left: 43.90%;
  top: 27.85%;
  width: 14.94%;
}

#capa9{
  Z-index: 13;
  left: 48.57%;
  top: 56.23%;
  width: 5.84%;
}

#capa10{
  Z-index: 12;
  left: 41.43%;
  top: 46.02%;
  width: 19.74%;
}

#capa11{
  Z-index: 14;
  left: 50.78%;
  top: 46.71%;
  width: 1.69%;
}

#capa12{
  Z-index: 15;
  left: 48.44%;
  top: 78.55%;
  width: 5.97%;
}

#capa2{
  Z-index: 16;
  left: 77.53%;
  top: 23.01%;
  width: 19.61%;
}

#capa1{
  Z-index: 17;
  left: 76.75%;
  top: 40.31%;
  width: 7.66%;
}

#capa3{
  Z-index: 18;
  left: 75.84%;
  top: 60.38%;
  width: 4.03%;
}

#capa4{
  Z-index: 19;
  left: 66.88%;
  top: 66.44%;
  width: 12.99%;
}

#areaButtons{
  text-align: center;
  border-style: solid;
}

#box {
  /* The box that will responsively resize */
  border: 4px solid rgb(255,200,000);
  position: relative;
  max-width: 770px;
  margin: auto;
}

#box .static {
  /* The static image helps responsively resizing the bounding box correctly */ 
  width: 100%;
  height: auto;
}

#box .area {
  /* Placing the area absolutely and with percentage values makes it responsive within the bounding box */
  position: absolute;
  height: auto;
  display: block;
}

.clearButton_sheet {
  float: left;
  position: relative;
  bottom: 25px;
}

.addButton_sheet {
  float: right;
  position: relative;
  bottom: 25px;
}